body {
   font-family: Helvetica, sans-serif;
   margin: 0;
   padding: 30px;
   background-color: #EEE;
}

.player {
   display: flex;
   margin-bottom: 30px;
   background-color: #DDD;
   padding: 5px;

   &--active {
      background-color: rgba(0, 0, 0, .2);
   }
}

.player--template {
   display: none;
}

.frame {
   display: flex;
   flex: 1;
   flex-direction: column;
   height: 7rem;
   text-align: center;

   &__header {
      height: 2rem;
      line-height: 2rem;
   }

   &__rolls {
      display: flex;
      height: 2.5rem;
   }
}

.frame__roll {
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;
   margin: 0.2rem;
   border: 1px solid #CCC;
   background-color: #FFF;
}

.frame__score {
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   margin: 0.2rem;
   border: 1px solid #CCC;
   background-color: #FFF;
}

.frame-total {
   .frame__score {
      font-size: 1rem;
      font-weight: bold;

      &--winner {
         transition: transform 1s ease-in-out;
         transform: scale(1.2);
         background: #CCCC32;
      }
   }
}

.game {
   &--ended {
      .button-play {
         display: none;
      }
   }
}

.btn {
   background-color: #E8E100;
   border: none;
   border-radius: 0;
   color: #000;
   cursor: pointer;
   font-size: 0.9rem;
   font-weight: bold;
   line-height: 1.5rem;
   min-height: 40px;
   outline: 0;
   padding: 8px 12px;
   text-align: center;
   text-decoration: none;
   margin-right: 30px;
   min-width: 150px;

   &:hover {
      background-color: darken(#E8E100, 5);
   }
}

.btn-roll {
   display: none;
}

.toolbar {
   padding: 20px 0;

   &--started {
      .btn-add-player,
      .btn-play {
         display: none;
      }

      .btn-roll {
         display: block;
      }
   }

   &--finished {
      .btn-add-player,
      .btn-play,
      .btn-roll {
         display: none;
      }
   }
}
